<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Posts:</strong><br/>
  <ul>
  <% @user.posts.each do |post| %>
        <li><%= post.name %></li>
    <% end %>
  </ul>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
